<%= form_for(@pool_group) do |f| %>
  <% if @pool_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pool_group.errors.count, "error") %> prohibited this pool_group from being saved:</h2>

      <ul>
      <% @pool_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poolers %><br>
    <%= f.text_field :poolers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
