<h1>Listing pool_groups</h1>

<table>
  <thead>
    <tr>
      <th>Poolers</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pool_groups.each do |pool_group| %>
      <tr>
        <td><%= pool_group.poolers %></td>
        <td><%= link_to 'Show', pool_group %></td>
        <td><%= link_to 'Edit', edit_pool_group_path(pool_group) %></td>
        <td><%= link_to 'Destroy', pool_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pool group', new_pool_group_path %>
