<ul class="thumbnails list-unstyled">
  <% wish = Wishlist.all %>
  <% temp = my_params %>
  <% user = User.find_by_id(temp) %>
  <% wish.each do |t|%>
  <% if t.user_id == temp %>
    <li class="col-md-6">
      
      <% if user != current_user %>
      <button id="pool-request">pool</button>
      <% if t.claimed != 1 and t.claimer != current_user %>
      <%= link_to "claim" ,{controller:"wishlists", action:"claimed" , wishid: "#{t.id}" ,claimer: current_user.id, userid: user.id} ,id: "sign_out" %>
      <%elsif t.claimer== current_user.id%> 
      <%= link_to "unclaim" ,{controller:"wishlists", action:"unclaimed" , wishid: "#{t.id}" ,claimer: current_user.id, userid: user.id} ,id: "sign_out" %>
      <%else%> claimed by <%= User.find_by_id(t.claimer).name %>
      <%end%>
      <%end%>
      <div class="thumbnail" style="padding: 0">
        <div style="padding:4px;">
          <div class="gift-info">  
            <%= image_tag('flash.jpg',class: "img-gift",alt:"300x200") %>        
            <h4></h4>
            <h4><%=t.id%></h4>
           <p> <%= t.link %> for price <%= t.price %></p>
              <%= user.wishlist.index(t) %>
              <i class="icon icon-map-marker"></i>
            
          </div> 
          </div>      
          </div>
          <div class="like_button">
              <% div_id="refresh1_#{t.id}" %>
              <div id="<%=div_id %>">
              
              <% if t.liked_by?(current_user).to_s == "false" %>
                <%= link_to '<span class="glyphicon glyphicon-thumbs-up" title="Like"></span>'.html_safe, {controller:"wishlists", action:"vote" , wish_param: "#{t.id}" ,my_params: my_params} ,id: "sign_out", :remote => true %>
              <%end%>
              <% if t.liked_by?(current_user).to_s == "true" %>
              <%= link_to '<span class="glyphicon glyphicon-thumbs-down" title="Unlike"></span>'.html_safe, {controller:"wishlists", action:"unvote" , wish_param: "#{t.id}",  my_params: my_params} ,id: "sign_out", :remote => true%>
              <%end%>
              <%= t.likers(User).count %>
            </div>
          </div>
          <div class="add_delete_button">
            <%if user == current_user %>
              <%= link_to '<span class="glyphicon glyphicon-trash" title="Remove Gift Item"></span>'.html_safe, {controller:"wishlists", action:"remove" , my_param: "#{t.id}" } %>
            <%end%>
            <% if user != current_user %>
              <%= link_to '<span class="glyphicon glyphicon-floppy-save" title="Add Gift Item"></span>'.html_safe ,{:controller => "wishlists",:action => "create",:wishlist => {:link => t.link ,:price => t.price}, :userid => t.user_id ,:remote => true } %>
              <%end%>
          </div>
        </li>
      <%end%>

    <%end%> 

            <% friends_list = friends %>
            <% users=User.all %>
            <% uuid=[] %>
            <% users.each do |t| %>
            <% uuid << t["uid"] %>
            <% end %>

               <div class="modal fade" id="poolModal" tabindex="-1" role="dialog" aria-labelledby="poolModal" aria-hidden="true">
    <div class="modal-dialog">
        <!-- <img id="birthday-loader" src="/images/new-loader.GIF" alt="Loading..." title="Loading..." /> -->
        <% i =  %>
        <div class="modal-content" id="modal-cont">
            <%= form_tag( controller: "wishlists", action: "pool",  method: "get") do %>
            <% friends_list.each do |hash| %>
            <% if hash["id"].in? uuid %>
            <% if hash["id"] != user.uid %>
            <div class="friends-container">  
            <div class="friends-media">
            
            <div class="friends-media-body">
                <h4 class="media-heading">
                <%= check_box_tag("values[]", hash["id"]) %>
                <%= label_tag("v[]", image_tag(fimage(hash["id"]),:class => "img-event img-circle")) %>
                </h4>
                 
            </div>
        </div>

        </div>
         <%end%>  
         <%end%> 
         <%end%>
         <%= submit_tag("Pool") %>
         <%end%>
        </div>
</div>
</div>