<ul class="thumbnails list-unstyled">
  <% wish = Wishlist.all %>
  <% temp = my_params %>
  <% user = User.find_by_id(temp) %>
  <% wish.each do |t|%>
  <% if t.user_id == temp %>
    <li class="col-md-6">
      <div class="thumbnail" style="padding: 0">
        <div style="padding:4px;">
          <div class="gift-info">  
            <%= image_tag('flash.jpg',class: "img-gift",alt:"300x200") %>        
            <h4></h4>
            <h4><%=t.id%></h4>
           <p> <%= t.link %> for price <%= t.price %></p>
              <%= user.wishlist.index(t) %>
              <i class="icon icon-map-marker"></i>
            
          </div> 
          </div>      
          <div class="add_delete_button">
            <%if user == current_user %>
              <%= link_to '<span class="glyphicon glyphicon-trash" title="Remove Gift Item"></span>'.html_safe, {controller:"wishlists", action:"remove" , my_param: "#{t.id}" } %>
            <%end%>
            <% if user != current_user %>
              <%= link_to '<span class="glyphicon glyphicon-floppy-save" title="Add Gift Item"></span>'.html_safe ,{:controller => "wishlists",:action => "create",:wishlist => {:link => t.link ,:price => t.price}, :userid => t.user_id ,:remote => true } %>
              <%end%>
          </div>
          </div>
          
          <div class="gift-buttons">
            <div class="btn btn-large btn-primary">
              <% div_id="refresh1_#{t.id}" %>
              <div id="<%=div_id %>">
              <% if t.liked_by?(current_user).to_s == "false" %>
                <%= link_to '<span class="glyphicon glyphicon-thumbs-up" title="Like"> Like</span>'.html_safe, {controller:"wishlists", action:"vote" , wish_param: "#{t.id}" ,my_params: my_params} ,id: "sign_out", :remote => true %>
              <%end%>
              <% if t.liked_by?(current_user).to_s == "true" %>
                <%= link_to '<span class="glyphicon glyphicon-thumbs-up" title="Unlike"> Unlike</span>'.html_safe, {controller:"wishlists", action:"unvote" , wish_param: "#{t.id}",  my_params: my_params} ,id: "sign_out", :remote => true %>
              <%end%>
              <%= t.likers(User).count %>
            </div>
          </div>
          <% if user != current_user %>
              <% claim_id="claim_#{t.id}" %>
              <div id="<%=claim_id%>">
              <% if t.claimed != 1 and t.claimer != current_user %>
                
                <%= link_to '<span class="btn btn-large btn-success" id="claim_button" title="Claim this gift">Claim</span>'.html_safe ,{controller:"wishlists", action:"claimed" , wishid: "#{t.id}" ,claimer: current_user.id, userid: user.id} ,id: "sign_out",:remote => true%>
                <button id="pool-request"  data-toggle = "modal" data-target = "#poolModal" class="btn btn-large btn-danger" title="Claim the Gift to Pool" disabled>Pool</button>
              <%elsif t.claimer== current_user.id%> 
                
                <%= link_to '<span class="btn btn-large btn-success" id="unclaim_button" title="Unclaim this gift">Unclaim</span>'.html_safe ,{controller:"wishlists", action:"unclaimed" , wishid: "#{t.id}" ,claimer: current_user.id, userid: user.id} ,id: "sign_out",:remote => true%>
                <button id="pool-request"  data-toggle = "modal" data-target = "#poolModal" class="btn btn-large btn-danger" title="Invite for Pool">Pool</button>
              <%else%>
                <%= User.find_by_id(t.claimer).name %> claimed this gift.
              <%end%>
            </div>
          <%end%>
        </div>
</li>
      

    

            <% friends_list = friends %>
            <% users=User.all %>
            <% uuid=[] %>
            <% users.each do |t| %>
            <% uuid << t["uid"] %>
            <% end %>

               <div class="modal fade" id="poolModal" tabindex="-1" role="dialog" aria-labelledby="poolModal" aria-hidden="true">
    <div class="modal-dialog">
        <!-- <img id="birthday-loader" src="/images/new-loader.GIF" alt="Loading..." title="Loading..." /> -->
        <% i =  %>
        <div class="modal-content" id="pool-modal-cont">
            <%= form_tag( controller: "wishlists", action: "requestpool",  method: "get") do %>
            <% friends_list.each do |hash| %>
            <% if hash["id"].in? uuid %>
            <% if hash["id"] != user.uid %>
            <div class="friends-container" style="padding:5px">  
            <div class="friends-media">
            
            <div class="friends-media-body" style="padding:0px">
                <h4 class="media-heading" style="margin:0px">
                <%= check_box_tag("values[]", hash["id"]) %>
                <%= label_tag("v[]", image_tag(fimage(hash["id"]),:class => "friends-media-object",:style => "vertical-align:middle")) %>
                  <div class="friends-media-body" style="display:inline-block;"><%= hash["name"] %></div>
                <%= hidden_field_tag(:userid, "#{user.id}") %>
                <%= hidden_field_tag(:wishid, "#{t.id}") %>
                <%= hidden_field_tag(:notifif, "#{t.id}") %>
                </h4>
                 
            </div>
        </div>

        </div>
         <%end%>  
         <%end%> 
         <%end%>
         <%= submit_tag("Pool") %>
         <%end%>
        </div>
</div>
</div>
<%end%> 
<%end%>
