<ul class="thumbnails list-unstyled">
  <% wish = Wishlist.all %>
  <% temp = my_params %>
  <% user = User.find_by_id(temp) %>
  <% wish.each do |t|%>
  <% if t.user_id == temp %>
    <li class="col-md-6">
      <div class="thumbnail" style="padding: 0">
        <div style="padding:4px;">
          <div class="gift-info">  
            <%= image_tag('flash.jpg',class: "img-gift",alt:"300x200") %>        
            <h4></h4>
            <h4><%=t.id%></h4>
           <p> <%= t.link %> for price <%= t.price %></p>
              <%= user.wishlist.index(t) %>
              <i class="icon icon-map-marker"></i>
            
          </div> 
          </div>      
          </div>
          <div class="like_button">
              <% div_id="refresh1_#{t.id}" %>
              <div id="<%=div_id %>">
              
              <% if t.liked_by?(current_user).to_s == "false" %>
                <%= link_to '<span class="glyphicon glyphicon-thumbs-up" title="Like"></span>'.html_safe, {controller:"wishlists", action:"vote" , wish_param: "#{t.id}" ,my_params: my_params} ,id: "sign_out", :remote => true %>
              <%end%>
              <% if t.liked_by?(current_user).to_s == "true" %>
              <%= link_to '<span class="glyphicon glyphicon-thumbs-down" title="Unlike"></span>'.html_safe, {controller:"wishlists", action:"unvote" , wish_param: "#{t.id}",  my_params: my_params} ,id: "sign_out", :remote => true%>
              <%end%>
              <%= t.likers(User).count %>
            </div>
          </div>
          <div class="add_delete_button">
            <%if user == current_user %>
              <%= link_to '<span class="glyphicon glyphicon-trash" title="Remove Gift Item"></span>'.html_safe, {controller:"wishlists", action:"remove" , my_param: "#{t.id}" } %>
            <%end%>
            <% if user != current_user %>
              <%= link_to '<span class="glyphicon glyphicon-floppy-save" title="Add Gift Item"></span>'.html_safe ,{:controller => "wishlists",:action => "create",:wishlist => {:link => t.link ,:price => t.price}, :userid => t.user_id ,:remote => true } %>
              <%end%>
          </div>
        </li>
      <%end%>
    <%end%> 
</ul>