

<% activities.each do |activity| %>
        

          
          
                	 
                    <%if activity.key == 'wishlist.create' %>
                    <div class="feed-container">

                
                     <div class="feed-text">
                      
                    
                    <%= image_tag(activity.owner.largeimage, :class => "feed-thumbnail" , :title => "thumbnail-dp")%>
                    <div style="display:inline-block; vertical-align: top;">
                      <p class="feed-time">at <%= activity.created_at %></p>
                    <a class="feed-username" href=""><%= link_to activity.owner.name , root_url if activity.owner %></a>
                    
                    <p class="feed-posttext">added wishlist item <%= link_to activity.trackable, root_url %> </p>
                    </div>
                    <span class="glyphicon glyphicon-star feed-icon"></span>
                  </div>
                </div>
                    <%elsif activity.key == 'like.create' %>
                    <div class="feed-container">

                
                    <div class="feed-text">
                    
                    
                    
                    <%= image_tag(activity.owner.largeimage, :class => "feed-thumbnail" , :title => "thumbnail-dp")%>
                    <div style="display:inline-block; vertical-align: top;">
                      <p class="feed-time">at <%= activity.created_at %></p>
                    <a class="feed-username" href=""><%= link_to activity.owner.name , root_url if activity.owner %></a>
                    
                    <p class="feed-posttext">liked wishlist item </p>
                      
                    </div>
                    <span class="glyphicon glyphicon-heart feed-icon"></span>
                  </div>
                </div>
                <%elsif activity.key == 'friendship.create' && activity.trackable_id == 1 %>
                    <div class="feed-container">

                
                    <div class="feed-text">
                    
                    
                    
                    <%= image_tag(activity.owner.largeimage, :class => "feed-thumbnail" , :title => "thumbnail-dp")%>
                    <div style="display:inline-block; vertical-align: top;">
                      <p class="feed-time">at <%= activity.created_at %></p>
                    <a class="feed-username" href=""><%= link_to activity.owner.name , root_url if activity.owner %></a>
                    
                    <p class="feed-posttext">joined friendfundr</p>
                      
                    </div>
                    <span class="glyphicon glyphicon-user feed-icon"></span>
                  </div>
                </div>
                    <%else next %>
                    <%end%>
                    

                
              
              <%end%>

                       
               
                                

                