<% notifs = Notification.order("created_at desc").all %>


<% notifs.each do |activity| %>
    <% if activity.user_id != current_user.id %>
        <%next%>
    <%elsif activity.content["added"] == "added" %>

        <%= render 'wishlists/feed_wishitem',:activity => activity %>

          <%elsif activity.content["liked"] == "liked" %>
            <%= render 'wishlists/feed_wishitem' ,:activity => activity%>
            <%elsif activity.content["joined"] == "joined" %>
            <div class="feed-container">
            <div class="feed-text">
                <%= image_tag(fimage(activity.owner_id), :class => "feed-thumbnail" , :title => "thumbnail-dp")%>
                <div style="display:inline-block; vertical-align: top;">
                    <% if ((Time.now - activity.created_at).to_i)/3600*24 > 1 %>
                   <p class="feed-time"> <%= activity.created_at %></p>
                  <%else%>
                    <p class="feed-time"><%= activity.relative_time(activity.created_at) %></p>
                  <%end%>
                    <a class="feed-username" href=""><%= link_to activity.name , root_url %></a>
                    <p class="feed-posttext"><%= activity.content %></p>
                </div>

                <span class="glyphicon glyphicon-user feed-icon"></span>
            </div>
            </div>
            <%elsif activity.content["claimed"] == "claimed" %>
            <div class="feed-container">
          <div class="feed-text">
            <%= image_tag(fimage(activity.owner_id), :class => "feed-thumbnail" , :title => "thumbnail-dp")%>
            <div style="display:inline-block; vertical-align: top;">
            <% if ((Time.now - activity.created_at).to_i)/3600*24 > 1 %>
            <p class="feed-time">at <%= activity.created_at %></p>
            <%else%>
            <p class="feed-time">at <%= activity.relative_time(activity.created_at) %></p>
            <%end%>
            <a class="feed-username" href=""><%= link_to activity.name , root_url  %></a>
            <p class="feed-posttext"> <%= link_to activity.content, root_url %> </p>
          </div>
            <%id = activity.content.scan(/\d+/).first %>
            <%t = Wishlist.all.find_by_id(id) %>
            <% if t != nil %>
              <%user = User.find_by_id(activity.user_id) %>
              <li class="col-md-6">
              <div class="thumbnail" style="padding: 0">
                <div style="padding:4px;">
                  <div class="gift-info">  
                    <%= image_tag('flash.jpg',class: "img-gift",alt:"300x200") %>        
                    <h4></h4>
            <h4><%=t.id%></h4>
           <p> <%= t.link %> for price <%= t.price %></p>
              <%= user.wishlist.index(t) %>
              <i class="icon icon-map-marker"></i>
                  </div> 
                </div>      
                <div class="add_delete_button">
                <% if user == current_user %>
                  <%= link_to '<span class="glyphicon glyphicon-floppy-save" title="Add Gift Item"></span>'.html_safe ,{:controller => "wishlists",:action => "create",:wishlist => {:link => t.link ,:price => t.price}, :userid => t.user_id ,:remote => true } %>
                <%end%>
              </div>
              </div>
              <div class="claim_button">
                <% if activity.content[current_user.name] != current_user.name %>
                  <% if t.claimed != 1 and t.claimer != current_user %>
                    <%= link_to "Claim" ,{controller:"wishlists", action:"claimed" , wishid: "#{t.id}" ,claimer: current_user.id, userid: user.id} ,id: "sign_out", :class=> "btn btn-large btn-success" %>
                  <%elsif t.claimer== current_user.id%> 
                    <%= link_to "Unclaim" ,{controller:"wishlists", action:"unclaimed" , wishid: "#{t.id}" ,claimer: current_user.id, userid: t.user_id} ,id: "sign_out", :class=> "btn btn-large btn-success" %>
                  <%else%> 
                    <%= User.find_by_id(t.claimer).name %> claimed this gift.
                <%end%>
              <%end%>
            </div>
              </li>
              <%end%>
              <span class="glyphicon glyphicon-flag feed-icon"></span>
            </div>
          </div>

        <%else next %>
        <%end%>
  <%end%>
