<% notifs = Notification.order("created_at desc").all %>


<% notifs.each do |activity| %>
    <% if activity.user_id != current_user.id %>
        <%next%>
    <%elsif activity.content["added"] == "added" %>

        <%= render 'wishlists/feed_wishitem',:activity => activity %>

          <%elsif activity.content["liked"] == "liked" %>
            <%= render 'wishlists/feed_wishitem' ,:activity => activity%>
            <%elsif activity.content["joined"] == "joined" %>
            <div class="feed-container">
            <div class="feed-text">
                <%= image_tag(fimage(activity.owner_id), :class => "feed-thumbnail" , :title => "thumbnail-dp")%>
                <div style="display:inline-block; vertical-align: top;">
                    <p class="feed-time">at <%= activity.created_at %></p>
                    <a class="feed-username" href=""><%= link_to activity.name , root_url %></a>
                    <p class="feed-posttext"><%= activity.content %></p>
                </div>

                <span class="glyphicon glyphicon-user feed-icon"></span>
            </div>
            </div>
        <%else next %>
        <%end%>
  <%end%>
