<% notifs = Notification.order("created_at desc").all %>

<% notifs.each do |n| %>
<% if n.user_id == current_user.id && n.content_id == 1%>
          

          <%= link_to ({:controller => "wishlists", :action => "read" , :created => n.created_at ,:u => n.user_id }) do %>
                      <div class="notification-container">


                  
                

                  
                           <%= image_tag(fimage(n.owner_id), :class => "feed-thumbnail" , :title => "thumbnail-dp")%>
                          <p class="feed-username"><%= n.name %></p>
                           <p class="feed-posttext"><%= n.content%> at <%= time_ago_in_words(n.created_at.in_time_zone) %></p>
                           
                      </div>
                    <%end%>
                 <%end%>
                 <%end%>
                
