<% notifs = Notification.order("created_at desc").all %>

<% notifs.each do |n| %>
<% if n.user_id == current_user.id && n.content_id == 1 && n.content["invited"] != "invited" %>

          <%= link_to ({:controller => "wishlists", :action => "read" , :created => n.created_at ,:u => n.user_id }), "data-toggle" => "modal", "data-target" =>"tooltip", onClick:"triggerModal(this)",:remote => true do %>
                      <div class="notification-container">



                  
                

                  
                           <%= image_tag(fimage(n.owner_id), :class => "feed-thumbnail" , :title => "thumbnail-dp", :style=>"vertical-align: top")%>
                           <div style="display: inline-block">
                          <p class="feed-username" style="margin-bottom:0px"><%= n.name %></p>
                          <% if n.content["invite"] == "invite" %>
                           <p class="feed-posttext"><%= n.content%> </p>
                           <p>click to accept/reject</p>
                           <%else%>
                           <p class="feed-posttext"><%= n.content%> </p>
                           <%end%>
                           <% if ((Time.now - n.created_at).to_i)/3600*24 > 1 %>
                            <p class="feed-time"> <%= n.created_at %></p>
                            <%else%>
                           <p class="feed-time"> <%= n.relative_time(n.created_at) %></p>
                           <%end%>
                         
                       
                          </div> 
                      </div>
                    <%end%>
                 <%end%>
                 <%end%>
                
